/* FONTS */
@font-face {
    font-family: 'RobotoLight';
	src: url(../fonts/Roboto-Light-webfont.eot);
    src: url(../fonts/Roboto-Light-webfont.eot) format('embedded-opentype'),
         url(../fonts/Roboto-Light-webfont.woff) format('woff'),
         url(../fonts/Roboto-Light-webfont.ttf) format('truetype'),
         url(../fonts/Roboto-Light-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url(../fonts/Roboto-LightItalic-webfont.eot);
    src: url(../fonts/Roboto-LightItalic-webfont.eot) format('embedded-opentype'),
         url(../fonts/Roboto-LightItalic-webfont.woff) format('woff'),
         url(../fonts/Roboto-LightItalic-webfont.ttf) format('truetype'),
         url(../fonts/Roboto-LightItalic-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoItalic';
    src: url(../fonts/Roboto-Italic-webfont.eot);
    src: url(../fonts/Roboto-Italic-webfont.eot) format('embedded-opentype'),
         url(../fonts/Roboto-Italic-webfont.woff) format('woff'),
         url(../fonts/Roboto-Italic-webfont.ttf) format('truetype'),
         url(../fonts/Roboto-Italic-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBlack';
    src: url(../fonts/Roboto-Black-webfont.eot);
    src: url(../fonts/Roboto-Black-webfont.eot) format('embedded-opentype'),
         url(../fonts/Roboto-Black-webfont.woff) format('woff'),
         url(../fonts/Roboto-Black-webfont.ttf) format('truetype'),
         url(../fonts/Roboto-Black-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoBlackItalic';
    src: url(../fonts/Roboto-BlackItalic-webfont.eot);
    src: url(../fonts/Roboto-BlackItalic-webfont.eot) format('embedded-opentype'),
         url(../fonts/Roboto-BlackItalic-webfont.woff) format('woff'),
         url(../fonts/Roboto-BlackItalic-webfont.ttf) format('truetype'),
         url(../fonts/Roboto-BlackItalic-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	background-color:#FFFFFF;
}
h1{
	font-family: 'RobotoBlack';
	text-transform:uppercase;
}
h2{
	font-family: 'RobotoBlack';
	text-transform:uppercase;
}
p{
	font-family: 'RobotoLight';
}
a{
	text-decoration:none;
}

.italicText{
	font-family: 'RobotoLightItalic';
}
.clear{
	clear:both;
}

.quoteBlock{
	width:100%;
	height:44px;
	margin-top:436px;
	background-color:rgba(0, 0, 0, .7);
}
.quoteBlock p{
	color:#FFF;
	font-size:14px;
	line-height:44px;
	text-align:center;
	text-transform:uppercase;
}


/* MOBILE STYLES */
@media only screen and (max-width: 767px){
	#container {
		width: 320px;
		margin:0 auto;
	}
	
	#imageSlider{
		position:relative;
		width:100%;
		height:480px; 
		margin:0 auto;
		overflow-x:hidden;
	}
	
	#slider{
		position:absolute;
		/*position:relative;*/
		/*width:3840px;*/
		width:999999px;
		height:100%;
	}
	
	#imageSlider #slider .sliderBlock{
		width:320px;
		height:480px;
		float:left;
		overflow-y:scroll;
	}
	
	/* PAGE 1 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#first{
		width:100%;
		height:480px;
		background-image:url(../images/background_page0.jpg);
		background-size:100%;
		background-repeat:no-repeat;
		float:left;
	}
	#titleBlock{
		margin-top:200px;
		margin-left:20%;
		margin-right:20%;
		padding:15px 15px 12px;
		background-color:rgba(0, 0, 0, .7);
	}
	#swipeBlock{
		width:100%;
		height:44px;
		float:left;
		margin-top:152px;
		background-color:rgba(0, 0, 0, .7);
	}
	#first h1{
		color:#FFF;
		font-size:30px;
		text-align:center;
		margin-bottom:5px;
		border-bottom:1px solid #fff;
	}
	#titleBlock p{
		color:#FFF;
		font-size: 14px;
		line-height:21px;
		text-align:center;
		text-transform:uppercase;
	}
	#swipeBlock p{
		color:#FFF;
		font-size: 14px;
		line-height:44px;
		text-align:center;
		text-transform:uppercase;
	}
	
	/* PAGE 2 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#second{
		width:100%;
		height:480px;
		background-color:#F05853;
	}
	#second h1{
		color:#FFF;
		font-size:18px;
		text-align:center;
		margin-top:195px;
	}
	
	/* PAGE 3 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#third{
		width:100%;
	}
	#third h1{
		height:44px;
		color:#FFF;
		font-size:18px;
		line-height:44px;
		text-align:center;
		background-color:#000000;
	}
	#thirdRow1{
		width:93.75%;
		margin-top:20px;
		margin-left:3.125%;
		margin-right:3.125%;
		float:left;
	}
	#thirdRowImage1{
		width:46.67%;
		padding-top:56.67%;
		background-image:url(../images/touch1.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		float:left;
	}
	#thirdRowText1{
		width:46.67%;
		float:right;
	}
	#thirdRowText1 h2{
		color:#F05853;
		font-size:14px;
		line-height:21px;
	}
	#thirdRowText1 p{
		font-size:14px;
		line-height:21px;
	}
	#thirdRow2{
		width:93.75%;
		margin-top:20px;
		margin-left:3.125%;
		margin-right:3.125%;
		float:left;
	}
	#thirdRowImage2{
		width:46.67%;
		padding-top:56.67%;
		background-image:url(../images/touch2.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		float:left;
	}
	#thirdRowText2{
		width:46.67%;
		float:right;
	}
	#thirdRowText2 h2{
		color:#F05853;
		font-size:14px;
		line-height:21px;
	}
	#thirdRowText2 p{
		font-size:14px;
		line-height:21px;
	}
	#thirdRow3{
		width:93.75%;
		margin-top:20px;
		margin-left:3.125%;
		margin-right:3.125%;
		float:left;
	}
	#thirdRowText3{
		width:100%;
	}
	#thirdRowText3 p{
		text-align:center;
		font-family: 'RobotoLightItalic';
		font-size:14px;
		line-height:21px;
		margin-bottom:21px;
	}
	
	/* PAGE 4 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#fourth{
		width:100%;
	}
	#fourth h1{
		height:44px;
		color:#FFF;
		font-size:18px;
		line-height:44px;
		margin-bottom:20px;
		text-align:center;
		background-color:#000000;
	}
	#fourth h2{
		color:#F05853;
		font-size:18px;
		text-align:center;
	}
	#nav{
		width:93.75%;
		margin-left:3.125%;
		margin-right:3.125%;
		margin-top:10px;
		margin-bottom:20px;
	}
	#nav h2{
		color:#000;
		font-size:14px;
		line-height:21px;
	}
	#nav p{
		font-size:14px;
		line-height:21px;
	}
	#nav li{
		display:block;
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
		border-bottom:1px solid #000;
	}
	#nav li:last-child{
		border-bottom:none;
	}
	#nav li a:link, a:visited, a:hover, a:active{
		color:#000;
		text-decoration:none;
	}
	
	#nav2{
		width:93.75%;
		margin-left:3.125%;
		margin-right:3.125%;
		margin-top:10px;
		margin-bottom:20px;
	}
	#nav2 h2{
		color:#000;
		font-size:14px;
	}
	#nav2 li{
		display:block;
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
		border-bottom:1px solid #000;
	}
	#nav2 li:last-child{
		border-bottom:none;
	}
	#nav2 li a:link, a:visited, a:hover, a:active{
		color:#000;
		text-decoration:none;
	}
	
	/* PAGE 5 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#fifth{
		width:100%;
		padding-top:225px;
		background: url(../images/background_editor.jpg) fixed no-repeat ;
		background-size: 100%;
		background-position: top center;
		padding:1px 0 0 0;
	}
	#fifthRow1{
		background-color:#FFF;
	}
	#fifthRow1 h1{
		height:44px;
		color:#FFF;
		font-size:18px;
		line-height:44px;
		margin-top:225px;
		text-align:center;
		background-color:#000000;
	}
	#fifthRowText1{
		width:93.75%;
		margin-left:3.125%;
		margin-right:3.125%;
		padding-top:20px;
		padding-bottom:20px;
		/*background-color:#FFFFFF;*/
	}
	#fifthRowText1 p{
		font-size:14px;
		line-height:21px;
		margin-bottom:15px;
	}
	
	/* QUOTE 1 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#quote1{
		width:100%;
		height:480px;
		background: url(../images/quote_freeman.jpg) fixed no-repeat ;
		background-size: 100% ;
		background-position: top center;
		padding:1px 0 0 0;
	}
	#quote1Row1{
		background-color:rgba(240, 88, 83, .6);
		
	}
	#quote1RowText1{
		width:93.75%;
		height:320px;
		padding-top:160px;
		margin-left:3.125%;
		margin-right:3.125%;
		color:#FFF;
		text-align:center;
	}
	#quote1RowText1 h1{
		font-family: 'RobotoBlackItalic';
		font-size:24px;
		line-height:36px;
	}
	#quote1RowText1 p{
		font-family: 'RobotoItalic';
		font-size:24px;
		line-height:36px
	}
	
	/* PAGE 6 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#sixth{
		width:100%;
		height:225px;
		background: url(../images/background_music.jpg) fixed no-repeat ;
		background-size: 100% ;
		background-position: top center;
		padding:1px 0 0 0;
	}
	#sixthRow1{
		background-color:#FFF;
	}
	#sixthRow1 h1{
		height:44px;
		color:#FFF;
		font-size:18px;
		line-height:44px;
		margin-top:225px;
		text-align:center;
		background-color:#000000;
	}
	#sixthRowText1{
		width:93.75%;
		margin-left:3.125%;
		margin-right:3.125%;
		padding-top:20px;
		padding-bottom:20px;
		/*background-color:#FFFFFF;*/
	}
	#sixthRowText1 h2{
		font-size:14px;
		margin-bottom:5px;
	}
	#sixthRowText1 p{
		font-size:14px;
		line-height:21px;
		margin-bottom:15px;
	}
	
	#sixthRowPic1{
		width:100%;
		height:300px;
		background-image: url(../images/music001.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		margin-bottom:15px;
	}
	#sixthRowPic2{
		width:100%;
		height:300px;
		background-image: url(../images/music002.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		margin-bottom:15px;
	}
	#sixthRowPic3{
		width:100%;
		height:300px;
		background-image:url(../images/music003.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		margin-bottom:15px;
	}
	#sixthRowPic4{
		width:100%;
		height:300px;
		background-image:url(../images/music004.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		margin-bottom:15px;
	}
	
	/* QUOTE 2 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#quote2{
		width:100%;
		height:225px;
		background: url(../images/quote_cruise.jpg) fixed no-repeat ;
		background-size: 100% ;
		background-position: top center;
		padding:1px 0 0 0;
	}
	#quote2Row1{
		background-color:rgba(240, 88, 83, .6);
	}
	#quote2RowText1{
		width:93.75%;
		height:320px;
		padding-top:160px;
		margin-left:3.125%;
		margin-right:3.125%;
		color:#FFF;
		text-align:center;
	}
	#quote2RowText1 h1{
		font-family: 'RobotoBlackItalic';
		font-size:24px;
		line-height:36px;
	}
	#quote2RowText1 p{
		font-family: 'RobotoItalic';
		font-size:24px;
		line-height:36px
	}
	
	/* PAGE 7 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#seventh{
		width:100%;
		height:225px;
		background-color:#000;
		background: url(../images/background_food.jpg) fixed no-repeat ;
		background-size: 100% ;
		background-position: top center;
		padding:1px 0 0 0;
	}
	#seventhRow1{
		background-color:#FFF;
	}
	#seventhRow1 h1{
		height:44px;
		color:#FFF;
		font-size:18px;
		line-height:44px;
		margin-top:225px;
		text-align:center;
		background-color:#000000;
	}
	#seventhRowText1{
		width:93.75%;
		margin-left:3.125%;
		margin-right:3.125%;
		padding-top:20px;
		padding-bottom:20px;
		/*background-color:#FFFFFF;*/
	}
	#seventhRowText1 p{
		font-size:14px;
		line-height:21px;
		margin-bottom:15px;
	}
	
	/* QUOTE 3 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#quote3{
		width:100%;
		height:480px;
		background: url(../images/quote_swift.jpg) fixed no-repeat ;
		background-size: 100% ;
		background-position: top center;
		padding:1px 0 0 0;
	}
	#quote3Row1{
		background-color:rgba(240, 88, 83, .6);
	}
	#quote3RowText1{
		width:93.75%;
		height:320px;
		padding-top:160px;
		margin-left:3.125%;
		margin-right:3.125%;
		color:#FFF;
		text-align:center;
	}
	#quote3RowText1 h1{
		font-family: 'RobotoBlackItalic';
		font-size:24px;
		line-height:36px;
	}
	#quote3RowText1 p{
		font-family: 'RobotoItalic';
		font-size:24px;
		line-height:36px
	}
	
	/* PAGE 8 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#eighth{
		width:100%;
		height:225px;
		background: url(../images/background_bbq.jpg) fixed no-repeat ;
		background-size: 100% ;
		background-position: top center;
		padding:1px 0 0 0;
	}
	#eighthRow1{
		background-color:#FFF;
	}
	#eighthRow1 h1{
		height:44px;
		color:#FFF;
		font-size:18px;
		line-height:44px;
		margin-top:225px;
		text-align:center;
		background-color:#000000;
	}
	#eighthRowText1{
		width:93.75%;
		margin-left:3.125%;
		margin-right:3.125%;
		padding-bottom:20px;
		/*background-color:#FFFFFF;*/
	}
	#eighthRowText1 h2{
		font-size:14px;
		margin-top:20px;
		margin-bottom:5px;
	}
	#eighthRowText1 p{
		font-size:14px;
		line-height:21px;
		margin-bottom:10px;
	}
	
	/* PAGE 9 --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#ninth{
		width:100%;
		height:480px;
		background: url(../images/background_minneapolis.jpg) fixed no-repeat ;
		background-size: 100% ;
		background-position:top center;
	}
	#ninthRow1{
		background-color:#FFF;
	}
	#ninthRowText1{
		width:68.75%;
		margin-top:50px;
		margin-left:14%;
		margin-right:14%;
		padding-left:1.625%;
		padding-right:1.625%;
		padding-bottom:20px;
		background-color:rgba(0, 0, 0, .6);
		float:left;
	}
	#ninthRowText1 h1{
		color:#FFF;
		font-size:18px;
		line-height:27px;
		text-align:center;
		margin-top:20px;
		margin-bottom:10px;
	}
	#ninthRowText1 p{
		color:#FFF;
		font-size:14px;
		line-height:21px;
		text-align:center;
	}
	
	#twitter{
		width:80%;
		height:44px;
		background-color:#4099ff;
		background-image:url(../images/twitter.png);
		background-position:center;
		background-repeat:no-repeat;
		background-size:100%;
		margin-top:20px;
		margin-left:10%;
		margin-right:10%;
	}
	#twitter p{
		float:left;
		line-height:44px;
		margin-left:50px;
	}
	#linkedin{
		width:80%;
		height:44px;
		background-color:#4875b4;
		background-image:url(../images/linkedin.png);
		background-position:center;
		background-repeat:no-repeat;
		background-size:100%;
		margin-top:20px;
		margin-left:10%;
		margin-right:10%;
	}
	#linkedin p{
		float:left;
		line-height:44px;
		margin-left:50px;
	}
	
	/* Buttons --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#buttonContainer{
		width:120px;
		margin-left:auto;
		margin-right:auto;
	}
	
	#sliderNextButton, #sliderPrevButton{
		display:block;
		width:40px;
		height:40px;
	}
	
	#sliderNextButton{
		background:url(../images/nextArrow.jpg) center center;
		float:right;
	}
	
	#sliderPrevButton{
		background:url(../images/prevArrow.jpg) center center;
		float:left;
	}
	
	#sliderNextButton:hover, #sliderPrevButton:hover{
		
	}
	
	/* Accordion --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	#accordion {
		margin-bottom:74px;
	}
	
	#accordion > div {
		width:100%;
		color:#FFF;
	}
	
	#accordion > div > div:first-child {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		box-sizing:border-box;
		width:100%; 
		height:44px;
		line-height:44px;
		overflow:hidden;
		white-space:no-wrap;
		text-align:center;
		background: url(../images/arrow2.png) 50% no-repeat, #f05853;
		background-size:100%;
		font-weight:bold;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-moz-tap-highlight-color: rgba(0,0,0,0);
		-o-tap-highlight-color: rgba(0,0,0,0);
		tap-highlight-color: rgba(0,0,0,0);
	}
	
	#accordion > div.acOpen > div:first-child {
	
	}
	
	#accordion > div > div:last-child {
		-webkit-box-sizing:border-box;
		width:100%;
		padding:10px;
		background-color:#26a673;
	}
	#accordion > div > div:last-child h2 {
		font-size:14px;
		margin-top:10px;
	}
	
	/* The followings are the only styles needed by the accordion */
	#accordion {
		position:relative;
	}
	
	.acOpen {
		margin: 0 0 -10px 0 !important;
	}
	
	#accordion > div {
		position:absolute;
		overflow:hidden;
	}
	
	#accordion > div > div:first-child {
		position:relative;
		z-index:11 !important;		/* z-index can be any value greater than "div:last-child" z-index */
	}
	
	#accordion > div > div:last-child {
		position:absolute;
		z-index:10;
	}
}

/* TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 1024px){
	*{
		display:none;
	}
}

/* DESKTOP STYLES */
@media only screen and (min-width: 1025px){
	*{
		display:none;
	}

}

